@font-face {
    font-family: 'brain_flowerregular';
    src: url('brain_flower-webfont.eot');
    src: url('brain_flower-webfont.eot?#iefix') format('embedded-opentype'),
         url('brain_flower-webfont.woff') format('woff'),
         url('brain_flower-webfont.ttf') format('truetype'),
         url('brain_flower-webfont.svg#brain_flowerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
  font-family: 'brain_flowerregular'; 
  width: 100%;
  margin: 0;
  padding: 0; 
 
}



#menu{
    font-size: 20px;
    list-style-type: none;  
    position: fixed;
    margin: 0;  
    
    float:left;
    list-style-type: none;
}

ul li a {
    text-decoration:none;
    display:block;
    text-align:center;  
    border-radius: 50%;
    line-height:85px;
    width: 85px;
    height: 85px; 
    background-color:  #474843;
    color: #F8EDD1;
}

#menu li a{
    display: block; 
    font-size:19px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

#menu li:hover ul {
    display:block;
}

#menu li ul{
    display:none;
    position:absolute;
    top:0;
    left:0;
    text-decoration: none;
    list-style-type: none;
}
#banner{

font-size: 70px;
height: 400px;
background-color: #DCE6DD;
padding:0px 10% 0px 20%;

}

.info{

	margin-top:0px;
 	margin-left: auto; 
  margin-right: auto;
  font-size: 30px;
     
}
#line1{
background-color: #474843;
height: 15px;
}
#line2{
  background-color: #9D9D93;  
  height: 15px;
}
#skills{
height: 90%;
background-color: #F8EDD1;
padding:20px 10% 0px 20%;
}

#compskills{
float:left;

}


.base{

    height:17px;
    width:250px;   
    border-radius:5px;
    border: 1px inset;  
    margin-bottom:5px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:#F8EDD1; 
    
}
.skill{

   border-top-left-radius:5px;
   border-bottom-left-radius:5px;
   height:17px; 
   background-color:  #9D9D93;
   padding-left:10px;

}

#Java{
    width:80%;
}
#c{
    width:40%;
}
#mysql{
  width:65%;
}
#php{
    width:50%;
}
#javascript{
    width:65%;
}
#ruby{
    width:50%;
}

#designskills{
float:right;
  
}

#html{  
    width:75%;
}
#photoshop{
    width:85%;
}
#illustrator{
    width:50%;
}
#cms{
    width:65%;
}


#photo{

font-size: 70px;
height: 90%;
background-color: #DCE6DD;
padding:20px 10% 0px 20%;
}
#contact{

font-size: 70px;
height: 180px;
background-color: #9D9D93;
padding:20px 10% 0px 20%;


}
#contact p{

 color: #DCE6DD;
}
#twitter{
width:45px;
height:45px;
background-image: url("twitter45.png");
float: left;
background-repeat: no-repeat;
 
}


#instagram {
width:45px;
height:45px;
float:left;
background-image: url("insta45.png");
background-repeat: no-repeat;
}
#linkedin {
width:45px;
  height:45px;
  float:left;
background-image: url("linkedin45.png");
background-repeat: no-repeat;
}
#email{
width:45px;
  height:45px;
  float:left;
background-image: url("email45.png");
background-repeat: no-repeat;
}
#github{
width:45px;
  height:45px;
  float:left;
background-image: url("github45.png");
background-repeat: no-repeat;
}

#photo li{
height:193px;
list-style: none;
text-decoration: none;
display:inline;
background-color: grey;
}